<form action="/riders" method="post">
  <div class="create">
    <label>Rider's Name:</label>
    <input type="text" name="rider[name]" /> <!--not sure about this if part ask about it-->
  </div>
  <div class="create">
    <label>Rider's Age:</label>
    <input type="text" name="rider[age]" />
  </div>
  <div class="create">
    <label>Rider's Skill Level:</label>
    <input type="text" name="rider[skill_level]" />
  </div>
  <div class="create">
    <label>Rider's Height:</label>
    <input type="text" name="rider[height]" />
  </div>
  <input class="create" type="submit" value="Create Rider!" />
</form>
